<div class="bs-left-container">
  <h3 class="text-center">
    Product Disclosure Statement
  </h3>
  <p>
    You should consider the information contained in the PDS before deciding to invest in the Maxiron Monthly Income
    Trust. The information contained in the PDS is general information only and does not take into account your
    personal financial situation or needs. You should obtain professional advice tailored to your own circumstances
    before investing.
  </p>
  <p class="text-center">
    <strong>
      If you have not read our PDS, please <a href="https://www.maxironwealth.com.au/pds" target="_blank" >download
        from here</a>.
    </strong>
    <br />
    <b>
      You must read the PDS before applying to invest.
    </b>
    <br/>
    <b>Only Class N is open for application at the moment.</b>
  </p>
  <div class="text-center">
    <button class="btn btn-continue" (click)='swiperManager.nextSlide()'>5 Minutes to sign-up<br/><small>(Individual)</small></button>
  </div>
  <div class="row btn-group-container">
    <div class="col-sm-4 text-right">
      <button class="btn btn-back btn-block btn-sm" (click)='openDownloadAppFormDialogue()'>SMSF</button>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-back btn-block btn-sm" (click)='openDownloadAppFormDialogue()'>Trust</button>
    </div>
    <div class="col-sm-4 text-left">
      <button class="btn btn-back btn-block btn-sm" (click)='openDownloadAppFormDialogue()'>Company</button>
    </div>
  </div>
</div>