<div class="modal-header bs-maxfunding-modal-title">
  <div class="clearfix">
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title pull-left ">Download Application Form</h5>
  </div>
</div>
<div class="modal-body">
  <p>Please complete and return application form to <a href="mailto:register@maxironwealth.com.au">register@maxironwealth.com.au</a> for fast processing.</p>
  <div class="text-center">
     <a href="https://www.maxironwealth.com.au/AppForm" target="_blank"><button class="btn btn-continue">Download</button></a> 
  </div>
  <!-- <br/>
  <div class="clearfix">
    <button type="button" class="btn btn-continue pull-right">Submit</button>
  </div> -->
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-continue" (click)='Submit()'>Submit</button>
</div> -->