<form class="bs-left-container">
  <div class=" text-left text-white bs-title">
    <h4 class="bs-text-maxiron">Deposit funds to start earning</h4>
    <small>Changing the way you earn</small>
  </div>
  <h5>1.Upload your Driver Licence or Passport.</h5>
  <p class="text-center">
    <button class="btn btn-primary">Upload</button>
  </p>
  <p>Or, you can email to <code>investor@maxironwealth.com.au</code></p>
  <small>Document is to fulfil the requirements of the Anti-Money Laundering and Counter Terrorism Financing Legislation.</small>
  <h5>2.Please transfer {{data.deposit_amount}} to the follow account.</h5>
  <table class="table table-bordered">
    <tr>
      <th>Bank</th>
      <td>Westpac</td>
    </tr>
    <tr>
      <th>Account Name</th>
      <td>Primary Securities Ltd ATF Maxiron Saver Class N Applications Account</td>
    </tr>
    <tr>
      <th>BSB</th>
      <td>036 048</td>
    </tr>
    <tr>
      <th>Account Number</th>
      <td>444799</td>
    </tr>
    <tr>
      <th>Reference</th>
      <td>
      </td>
    </tr>
  </table>
  <p><b>Remember:</b></p>
  <ol>
    <li>Once transfer is complete, allow 2 working days for funds to clear. A confirmation email will be sent to you.</li>
    <li>Interest will be earned from 1<sup>st</sup> of every month</li>
    <li>Interest earning is paid to your nominated bank account within 14 days after month end</li>
    <li>Monthly interest report will be emailed to you</li>
  </ol>
  <div class="clearfix bs-main-footer">
    <button type="button" class="btn btn-primary pull-left" (click)="swiperManager.prevSlide()"><i class="fas fa-arrow-left"></i>&nbsp;Previous</button>
    <button type="button" class="btn btn-primary pull-right" ><i class="fas fa-arrow-right"></i>&nbsp;Submit</button>
  </div>
</form>