<form class="bs-left-container">
  <div class=" text-left text-white bs-title">
    <h4 class="bs-text-maxiron">Deposit funds to start earning</h4>
    <small>Changing the way you earn</small>
  </div>
  <h5>1.Upload your Driver Licence or Passport.</h5>
  <!-- <p class="text-center">
    <button class="btn btn-primary">Upload</button>
  </p> -->
  <div class="dropzone-container">
    <!-- <dropzone class="dropzone-container" [config]="dropZoneConfig" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)"
      (success)="onUploadSuccess($event)"></dropzone> -->
    <form method="post" action="{{dropzoneUrl}}" id="form-dropzone"
      class="dropzone" enctype="multipart/form-data">
      <input type="hidden" name="investor_form_id" id="investor_form_id" value="{{data.id}}" />
      <div class="fallback">
        <input name="file[]" type="file" multiple />
        <div class="sp-10"></div>
        <button type="submit">Upload</button>
      </div>
    </form>
    <!-- <div id="myDropzone">
        <input name="investor_form_id" id="investor_form_id" value="16" />
        <div class="fallback">
            <input name="file[]" type="file" multiple />
            <div class="sp-10"></div>
            <button type="submit">Upload</button>
        </div>
      </div> -->
  </div>
  <p>Or, you can email to <code>investor@maxironwealth.com.au</code></p>
  <small>Document is to fulfil the requirements of the Anti-Money Laundering and Counter Terrorism Financing
    Legislation.</small>
  <h5>2.Please transfer {{amount()|currency:'$':'symbol':'0.0-0'}} to the follow account.</h5>
  <table class="table table-bordered">
    <tr>
      <th>Account Name</th>
      <td>
        Primary Securities Ltd <br />
        ABN: 96 089 812 635
      </td>
    </tr>
    <tr>
      <th>Bank</th>
      <td>Westpac</td>
    </tr>
    <tr>
      <th>BSB</th>
      <td>036 048</td>
    </tr>
    <tr>
      <th>Account Number</th>
      <td>444799</td>
    </tr>
    <tr>
      <th>Reference<br />(Description on transfer)</th>
      <td>{{data.reference}}
      </td>
    </tr>
  </table>
  <div><b>Remember:</b></div>
  <ol>
    <li>Once transfer is complete, allow 2 working days for funds to clear. A confirmation email will be sent to you.</li>
    <li>Interest will be earned from 1<sup>st</sup> of every month</li>
    <li>Interest earning is paid to your nominated bank account within 14 days after month end</li>
    <li>Monthly interest report will be emailed to you</li>
  </ol>
  <!-- <div class="clearfix bs-main-footer">
    <button type="button" class="btn btn-back pull-left" (click)="swiperManager.prevSlide()"><i class="fas fa-arrow-left"></i>&nbsp;Back</button>
    <button type="button" class="btn btn-primary pull-right" ><i class="fas fa-arrow-right"></i>&nbsp;Continue</button>
  </div> -->
</form>